body {
    font-family: Space Grotesk;
    background-color: #F6F6F6;
    margin: 5%;
}
h1{
    margin-bottom: 13px;
}
.name2{ 
    margin-top: 9px;
    font-size: 25px;
    margin-bottom: 31px;
}

.header{
    margin-bottom: 37px;
}
.text1{
    font-size: 3rem;
    font-weight: 900;
}
.grid-container{
    display: grid;
    grid: repeat(3,auto)/ repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 50px;
}
.rotate1{
    transform: rotate(-19.52deg);
    margin-bottom: 26px;
    
}
.rotate2{
    transform: rotate(-12.41deg);
}
.rotate3{
    transform: rotate(-15deg);
}
.rotate4{
    transform: rotate(21.25deg);
    margin-left: 80px;
    margin-bottom: 40px;

}
.rotate5{
    transform: rotate(-0.6deg);
}
.rotate6{
    transform: rotate(24.43deg);
}
.rotate7{
    transform: rotate(-4.71deg);
    margin-bottom: 40px;
}
.rotate8{
   transform: rotate(-15deg);
}
.rotate9{
    transform: rotate(13.49deg);
    margin-right: 80px;
}
.rotate10{
    transform: rotate(-20.65deg);
}
.rotate11{
    transform: rotate(40.57deg);
}
.rotate12{
    transform:rotate(-20.11deg);
}
.text2{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.footer{
    display: flex;
    align-items: center;
    font-size: 25px;
}
@media (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }
    .header {
        font-size: 0.9rem;
    }
    .grid-container {
        grid: repeat(6, auto) / 1fr;
    }
}
.name{
    font-weight: bold;
     font-size: 40px;
}
.ed{
    margin-bottom: 16px;
}
.ed p {
    margin-bottom: 5px;
}
.footer img {
    margin-right: 5px;
}
img{
    height: 1.1em;
}
